.delicious-flavour {
    background: url(../img/delicious-flavour/bg.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    margin-top: -260px;
    height: 700px; 
   
   
}
.delicious-flavour::before {
    content: '';
    background: url(../img/delicious-flavour/vector.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 63px;
    position: absolute;
    top: -16px;
    left: 0;
   

}

.delicious-flavour::after {
    content: '';
    background: url(../img/delicious-flavour/vector-bottom.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: -17px;
    left: 0;

}
.view-menu{
    size: cover;
    margin-left: 180px;
    margin-right:180px;
     
}
.header-block{
    margin-top:150px;
    margin-bottom: -100px;
}
.delicious-flavour__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
  
}
.view-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 160px;
    margin-bottom: 50px;
    z-index: 1;
   
}
.view-menu__item {
    background: #fff3e4;
    position: relative;
   

}
.view-menu__item_col {
    width: 25%;
   
   
}
.view-menu__item_col::before {
    content: '';
    border: 1px solid #9d9247;
    width: 92%;
    height: 95.6%;
    position: absolute;
    top: 13px;
    left: 11px;
}
.view-menu__item_row {
    width: 50%;
    margin-bottom: 300px;
  
}
.view-menu__row {
    display: flex;
    position: relative;
    
}
.view-menu__row::before {
    content: '';
    border: 1px solid #9d9247;
    width: 95.6%;
    height: 92%;
    position: absolute;
    top: 13px;
    left: 11px;
   
}
.view-menu__top, .view-menu__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.view-menu__top_s, .view-menu__bottom_s {
    width: auto;
    height: 295px;
  
     
}
.view-menu__title {
    margin-bottom: 13px;
   
    color: #1e1e1e;
    font-family: "LatoBold";
    font-size: calc(16px + 8 * (100vw / 1800));
}
.view-menu__price {
    margin-bottom: 18px;
    color: #fe7634;
    font-family: "LatoBold";
    font-size: calc(25px + 15 * (100vw / 1800));
}
.view-menu__text {
   
    width: 191px;
    color: #494949;
    font-family: "LatoRegular";
    font-size: calc(13px + 4 * (100vw / 1800));
    text-align: center;
}
