@charset "UTF-8";
@import url("header.css");
@import url("intro.css");
@import url("who-we-are.css");
@import url("delicious-flavour.css");
@import url("meet-our.chef.css");
@import url("what-client-say.css");
@import url("booking-form.css");
@import url("blog.css");
@import url("footer.css");

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: 0;
}

fieldset {
  border: 0;
}

.general-button {
  z-index: 1;
}

.general-button__link {
  display: inline-block;
  background: #fe7634;
  color: white;
  font-family: LatoBold;
  font-size: calc(11px + 4 * (100vw / 1800));
  padding: 17px 47px;
  border-radius: 33px;
  text-decoration: none;
}

.general-button__link:hover {
  background: #f7651e;
}
.header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  margin-left: 130px;
}

.header-block__title {
  margin-bottom: 10px;
  color: white;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 800;
  font-size: calc(30px + 15 * (100vw / 1800));
  text-align: center;
}

.header-block__text {
  margin-bottom: 33px;
  color: #d2d2d2;
  font-family: "LatoRegular";
  font-size: 16px;
  font-size: calc(12px + 4 * (100vw / 1800));
}
.booking-form-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.booking-form-general__title {
  color: #1b1b1b;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  font-size: calc(30px + 15 * (100vw / 1800));
}

.booking-form-general__text {
  color: #545454;
  margin-bottom: 30px;
  font-family: "LatoRegular";
  font-size: calc(12px + 4 * (100vw / 1800));
}
.dropbtn {
  background: url(../img/header/menu.png) no-repeat ;
  width: 50px;
  height: 50px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 12, 31);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
